html {
  background-color: rgb(216, 255, 192);
}
.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-content {
  animation: aparecer 1s ease forwards;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 300px;
  p {
    /* font-size: medium; */
    font-weight: bold;
  }
}
.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  button {
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: none;
    font-size: rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.5);
    }
  }
}
.yes-btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  background-color: rgba(221, 255, 219, 0.894);
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #ecb6f6;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
  }
}
.no-btn {
  transition:
    top 0.3s ease,
    left 0.3s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
